{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="{% static 'images/demo5.jpg' %}" alt="Movie Hub Logo">
        <h1>Leo</h1>
    </div>
    <p>Leo (also marketed as Leo: Bloody Sweet) is a 2023 Indian Tamil-language action thriller film[6] directed by Lokesh Kanagaraj and produced by Seven Screen Studio. The film stars Vijay in the titular role, alongside Sanjay Dutt, Arjun, Trisha, Gautham Vasudev Menon, Mysskin, Madonna Sebastian, George Maryan, Mansoor Ali Khan, Priya Anand and Mathew Thomas. It is the third instalment in the Lokesh Cinematic Universe and is inspired by A History of Violence (2005), an adaptation of the graphic novel of the same name. The film follows Parthi, a café owner and animal rescuer in Theog, who is pursued by gangsters Antony and Harold Das who suspect him to be Antony's estranged son, Leo.

    The film was officially announced in January 2023 under the tentative title Thalapathy 67, as it is Vijay's 67th film as a lead actor, and the official title was announced a few days later. Principal photography commenced the same month in Chennai along with a sporadic schedule in Kashmir, which was again followed by another schedule held at the former location, and wrapped by mid-July. The film has music composed by Anirudh Ravichander, cinematography handled by Manoj Paramahamsa and editing by Philomin Raj.

    Leo was released worldwide on 19 October 2023 in standard and IMAX formats to mixed reviews from critics. It set several box office records for a Tamil film, emerging as the fifth highest-grossing Indian film of 2023.</p>

</body>
</html>
